.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    gap: .75rem;
    font-size: 1.5rem;
    border: 1px solid slategray;
    border-radius: 1rem;
    max-width: 350px;

    input,
    button {
        font-size: inherit;
    }
}

.list {
    font-size: 1.5rem;
    list-style-type: none;
    padding: 0;
    max-width: 400px;
}

.list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
}

.list li button {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    border: none;
    background-color: #ec5e5e;
    color: white;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.list li button:hover {
    background-color: #ff1a1a;
}